<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{#site.menu}}
    <li class="menu-item-{{name}}">
      <a href="{{ url }}"><span>{{ name }}</span></a>
    </li>
    {{/site.menu}}
  </ul>
</div>
