<span class="overview">Overview</span>
<h1 class="title">Posts</h1>

{{#posts}}
<div class="summary mb-2">
    <h2 class="title-summary"><a href="{{site.base-url}}{{ url }}">{{ title }}</a></h2>
    <p>{{ summary }}</p>

<div class="nav wrap"><nav class="nav">
    {{#site.params.show-tags}}
    {{#tags}}
        <a class="nav item" href="{{site.base-url}}{{url}}">{{name}}</a>
    {{/tags}}
    {{#site.params.show-tags}}
</nav></div>

</div>

{{/posts}}
