<!DOCTYPE html>
<html lang="en">

{{> head }}

<body class='page page-default-list'>
{{> main-menu-mobile }}

<div class="wrapper">
  {{> header }}
  <div class="container pt-2 pt-md-6 pb-3 pb-md-6">
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
        <div class="sidebar">
            {{> sidebar }}
        </div>
      </div>
      <div class="col-12 col-md-9">
		{{> summary }}
      </div>
    </div>
  </div>
</div>

{{> footer }}

</body>

</html>

